body {
  margin: 5px;
}

html {
  overflow-y:scroll;
}

ul {
  list-style-type: none;
}

.rocket-img {
  width: 100%;
}

.btn-reserve,
.btn-cancel {
  padding: 6px;
}

.btn-cancel {
  width: 200px;
}

.btn-reserve {
  width: 150px;
}
